.sidebarArea {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: #2d2d2d;
    font-size: 18px;
    z-index: 80;
}

.sidebarContent {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

.sidebarContent::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari and Opera */
}

.title{
    font-size: 32px;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 10px 0;
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.3s; 
}
.title:hover{
    background-color: #363636;
}
.completedTitle{
    color: rgba(255,255,255, 0.2);
}

.titleImage{
    width: 26px;
    margin-right: 10px;
    transition: transform 0.4s ease-in-out;
}
.title:hover .titleImage {
    animation: mySpin 2s ease-in-out;
}
@keyframes mySpin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    10% {
        transform: rotate(-30deg) scale(1.1);
    }
    39.8% {
        transform: rotate(180deg) scale(1);
    }
    40%, 100% {
        transform: rotate(180deg) scale(1);
    }
}

.divider{
    width: 280px;
    margin: 0px 10px;
    background-color: #363636;
    height: 1px;
    min-height: 1px;
}
.title:hover + .titleDivider{
    background-color: #2d2d2d;
}

.stepsArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 10px 10px;
    background-color: inherit;
}
.step{
    display: flex;
    width: 100%;
    align-items: center;
    /* transition: background-color 0.3s;  */
    cursor: pointer;
    padding: 10px 10px 10px 20px;
}
.completedStep {
    opacity: 0.8;
    transition: opacity 0.3s;
}
.completedStep:hover {
    opacity: 0.8;
}
.indentStep{
    padding-left: 48px;
}
.stepActive{
    background-color: #1e1e1e !important;
    border-radius: 12px 0 0 12px;
}
.step:hover{
    background-color: #363636;
    border-radius: 12px 0 0 12px;
}
.icon{
    width: 20px;
    margin-right: 8px;
}
.completedIcon{
    width: 20px;
    margin-left: 8px;
}
.invert{
    filter: invert(1);
}

.linksGroup{
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tiltIcon {
    transition: transform 0.3s ease;
}

.stepsArea:hover .tiltIcon {
    animation: tiltNod 0.6s ease;
}

@keyframes tiltNod {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

/* Mobile styles */
@media (max-width: 768px) {
    .sidebarArea{
        margin-top: 60px;
        padding-top: 0px;
    }
    .title{
        display: none;
    }
    .slideIn {
        left: -300px; /* Hide by default on mobile */
        transition: left 0.15s ease-in-out;
    }

    .slideOut {
        left: 0;
        transition: left 0.15s ease-in-out;
    }
}

.desktopOnly {
    display: block;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .desktopOnly {
        display: none;
    }
}