.balanceContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.balanceLabel{
    margin-bottom: 10px;
}
.balance{
    font-size: 24px;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 20px;
    min-width: 220px;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    background: linear-gradient(rgb(30,30,30), rgb(30,30,30)) padding-box,
        linear-gradient(to right, 
        #ff9aa2, #ffb7b2, #ffdac1, 
        #e2f0cb, #b5ead7, #c7ceea) border-box;
}
