.balanceArea{
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}
.balanceItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.balanceItemTitle{
    font-weight: bold;
}
.balanceItemValue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 14px;
    border: 2px solid #424242;
}
.balanceIcon{
    width: 30px;
    margin-right: 8px;
}

@media screen and (max-width: 768px) {
    .balanceItemValue{
        width: 40vw;
    }
}