.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 50px 50px;
    margin-left: 280px;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding: 20px 0;
}
.titleImage{
    width: 60px;
    margin-right: 20px;
}
.intro{
    font-size: 20px;
    text-align: center;
}
.intro p{
    padding: 10px 0;
}
.invert{
    filter: invert(1);
}
.steps{
    font-size: 20px; 
    padding: 10px 0;
}
.steps ul{
    margin: 20px 0;
    padding-inline-start: 20px;
}
.steps ol{
    padding-inline-start: 20px;  /* Add this line */
}
.steps li{
    margin: 20px 0;
}

.address{
    font-weight: bold;
    font-size: 16px;
}
.noteIcon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.note{
    display: flex;
    vertical-align: center;
}
.finish{
    font-size: 20px;
    display: flex;
    vertical-align: center;
}
.steps p{
    padding-left: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .container{
        margin-left: 0;
        padding: 70px 20px 100px 20px;
        height: 100vh;
    }
    .title{
        font-size: 30px;
        text-align: center;
    }
    .titleImage{
        width: 40px;
        margin-right: 10px;
    }
    .intro p{
        padding: 10px 0;
    }
    .steps{
        font-size: 20px; 
        padding: 10px 0;
    }
    .steps ol{
        padding-inline-start: 20px;  /* Update this value to match */
    }
}