.container{
    display: flex;
    width: 768px;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 50px 50px;
    position: relative;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding: 20px 0;
}
.titleImage{
    width: 60px;
    margin-right: 20px;
}
.intro{
    font-size: 20px;
    text-align: center;
}
.intro p{
    padding: 10px 0;
}
.invert{
    filter: invert(1);
}
.steps{
    font-size: 20px; 
    padding: 10px 0;
}
.steps ul{
    margin: 20px 0;
    padding-inline-start: 20px;
}
.steps ol{
    padding-inline-start: 20px;  /* Add this line */
}
.steps li{
    margin: 20px 0;
}

.address{
    font-weight: bold;
    font-size: 16px;
}
.noteIcon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.note{
    display: flex;
    vertical-align: center;
}
.finish{
    font-size: 20px;
    display: flex;
    vertical-align: center;
    margin-left: -24px;
}
.steps p{
    padding-left: 20px;
}
.closer{
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

/* Mobile styles */
@media (max-width: 1050px) {
    .container{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .container{
        margin-left: 0;
        padding: 70px 20px 100px 20px;
        height: 100vh;
        width: 100%;
    }
    .intro p{
        padding: 10px 0;
    }
    .steps{
        font-size: 20px; 
        padding: 10px 0;
    }
    .steps ol{
        padding-inline-start: 20px;  /* Update this value to match */
    }
}



.tabs {
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: 20px;
}

.tab {
    width: 120px;
    padding: 10px 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #666;
    border-bottom: none;
    position: relative;
}

.activeTab {
    color: #fff;
    border-bottom: none;
}

.tabs::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 120px;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(calc(var(--tab-index) * (120px + 10px)));
}

.content {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .tab{
        width: 100px;
        font-size: 16px;
    }
    .tabs::after{
        width: 100px;
        transform: translateX(calc(var(--tab-index) * (100px + 10px)));
    }
}